<h1 mat-dialog-title>Add a new password</h1>
<form #passwordForm="ngForm" (ngSubmit)="onSubmit()" fxLayout="column">
<mat-dialog-content fxFlex="100" fxLayout="column" fxLayoutAlign="none center">
    <mat-form-field>
  <input matInput required [(ngModel)]="formPassword.service" placeholder="Service name" name="service">
  </mat-form-field>
  <mat-form-field>
      <input matInput [(ngModel)]="formPassword.username" placeholder="Username" name="username">
      </mat-form-field>
      <mat-form-field>
          <input matInput required [(ngModel)]="formPassword.password" placeholder="Password" name="password">
          </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button type="button" mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="!passwordForm.form.valid" type="submit">Save</button>
</mat-dialog-actions>
</form>